<!--The content below is only a placeholder and can be replaced.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<div class="jumbotron"  style="padding:40px;">
<h1 class="text-center">Choose Action</h1>
<br>
<br>
<br>
<!--
1er formulaire qui contient les champs intiales ferme et type d'action -->



<form style="width:30%;display:block;margin-left:auto;margin-right:auto" >
<div class="form-group">
    <label for="idFerme">Choisir Ferme</label>
    <select class="form-control" id="idFerme" name="idFerme">
      <option>1</option>
      <option>2</option>
    </select>
</div>

<div class="form-group">
  <label for="idPlante">Choisir Plante</label>
  <select class="form-control" id="idPlante" name="idPlante">
    <option>1</option>
    <option>2</option>
  </select>
</div>
<div>
<input type="radio" name="Arrosage" value="Arrosage manuelle" [(ngModel)]="checked1"> Arrosage manuelle<br>
<input type="radio" name="Arrosage" value="Arrosage automatique" [(ngModel)]="checked2">Arrosage automatique <br>
</div>

<div>
<input type="radio" name="Allumage" value="Allumage manuelle" [(ngModel)]="checked3"> Allumage manuelle<br>
<input type="radio" name="Allumage" value="Allumage automatique" [(ngModel)]="checked4"> Allumage automatique<br>
</div>
<!--
<div class="col-sm-offset-5 col-sm-2">
      <input type="submit" class="btn btn-default" value="Submit"  >
</div>
-->
<br>
<br>
<br>
</form>







  <!--
  1er formulaire pour arrosage manuelle -->



  <form style="width:40%;float:left;padding:80px" *ngIf="checked1" >
    <h4 class="text-center" >Arrosage manuelle</h4>



    <div class="form-group" >
      <label for="mode">Mode</label>
      <select  class="form-control" id="mode1" [(ngModel)]="mode1" name="mode1">
        <option value="On">On</option>
        <option value="Off">Off</option>
        <option value="duree">Duree</option>

      </select>
    </div>


    <div class="form-group row" *ngIf="mode1">
    <label for="duree1" class="col-2 col-form-label">Durée</label>
    <div class="col-10" >
      <input class="form-control" type="text" value="" id="duree1" size="30" name="duree1">
    </div>
  </div>
  <div class="col-sm-offset-4 col-sm-2">
        <input type="submit" class="btn btn-default" value="Submit">
  </div>
  </form>



<!-- Allumage manuelle -->

<form style="width:40%;float:left;padding:80px" *ngIf="checked3" >
  <h4 class="text-center" >Allumage manuelle</h4>


  <div class="form-group" >
    <label for="idRasp1">idRasp</label>
    <select  class="form-control" id="idRasp1" name="idRasp1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group" >
    <label for="mode2">Mode</label>
    <select  class="form-control" id="mode2" name="mode2" [(ngModel)]="mode2">
      <option>On</option>
      <option>Off</option>
      <option>Durée</option>

    </select>
  </div>


  <div class="form-group row" *ngIf="mode2">
  <label for="duree2" class="col-2 col-form-label">Durée</label>
  <div class="col-10">
    <input class="form-control" type="text" value="" id="duree2" size="30">
  </div>
</div>
<div class="col-sm-offset-4 col-sm-2">
      <input type="submit" class="btn btn-default" value="Submit" >
</div>
</form>




<!-- Arrosage automatique -->





<form style="width:40%;float:left;padding:80px" *ngIf="checked2" >
  <h4 class="text-center" >Arrosage automatique</h4>


  <div class="form-group" >
    <label for="mode3">Mode</label>
    <select  class="form-control" id="mode3">
      <option>On</option>
      <option>Off</option>
    </select>
  </div>
  <div class="form-group row">
  <label for="date1" class="col-2 col-form-label">Date and time</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="date1" size="30" name="date1">
  </div>
</div>
<div class="form-group row">
<label for="duree3" class="col-2 col-form-label">Durée</label>
<div class="col-10">
  <input class="form-control" type="text" value="" id="duree3" size="30" name="duree3">
</div>
</div>
<div class="col-sm-offset-4 col-sm-2">
      <input type="submit" class="btn btn-default" value="Submit" >
</div>
</form>

<!--
Allumage automatique

-->



<form style="width:40%;float:left;padding:80px" *ngIf="checked4" >
  <h4 class="text-center">Allumage automatique</h4>


  <div class="form-group">
    <label for="exampleFormControlSelect2">Mode</label>
    <select  class="form-control" id="exampleFormControlSelect2">
      <option>On</option>
      <option>Off</option>
    </select>
  </div>
  <div class="form-group row">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
  </div>
</div>
<div class="form-group row">
<label for="duree4" class="col-2 col-form-label">Durée</label>
<div class="col-10">
  <input class="form-control" type="text" value="" id="duree4" size="30">
</div>
</div>


<div class="col-sm-offset-5 col-sm-2">
      <input type="submit" class="btn btn-default" value="Submit" ng-hide="checked">
</div>

</form>
